#!groovy

import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.impl.*
import hudson.util.Secret
import java.nio.file.*
import jenkins.model.Jenkins
import net.sf.json.JSONObject
import org.jenkinsci.plugins.plaincredentials.*
import org.jenkinsci.plugins.plaincredentials.impl.*
import org.apache.commons.fileupload.FileItem


Jenkins jenkins = Jenkins.getInstance()
def domain = Domain.global()
def store = jenkins.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()


// ----- SSH Private Key Credential ------ //

def github_ssh_cred = [
  id:           '{{ github_ssh_credentials }}',
  userName:     '{{ admin_username }}',
  description:  '{{ github_ssh_cred_description }}',
  key:          new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource('''{{ github_private_key | trim }}''')
]

def github_ssh_Key = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  github_ssh_cred.id,
  github_ssh_cred.userName,
  github_ssh_cred.key,
  null,
  github_ssh_cred.description
)

// ----- Username and Password Credential ------ //

def Nexus_login_creds = [
  id:           '{{ Nexus_login_creds_id }}',
  description:  '{{ Nexus_login_creds_description }}',
  userName:     '{{ admin_username }}',
  password:     '{{ admin_password }}'
]

def nexus_login_creds = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  Nexus_login_creds.id,
  Nexus_login_creds.description,
  Nexus_login_creds.userName,
  Nexus_login_creds.password
)

  // ----- Secret File (vault pass) ------ //

  def ansible_valut_pass_file = [
    id:           '{{ ansible_valut_pass_id }}',
    description:  '{{ ansible_valut_pass_description }}',
    fileName:     '{{ ansible_valut_pass_name }}'
  ]

  String file_content = "{{ ansible_valut_pass }}"
  def secretBytes2 = SecretBytes.fromBytes(file_content.getBytes())
  def ansible_valut = new FileCredentialsImpl(
    CredentialsScope.GLOBAL,
    ansible_valut_pass_file.id,
    ansible_valut_pass_file.description,
    ansible_valut_pass_file.fileName,
    secretBytes2)

store.addCredentials(domain, github_ssh_Key)
store.addCredentials(domain, nexus_login_creds)
store.addCredentials(domain, ansible_valut)

jenkins.save()
