pipeline {
    agent {
        label "master"
    }

    stages {
      stage("clone code") {
          steps {
              script {
                  git credentialsId: "{{ credentials }}",
                  branch: "{{ targetBranch }}",
                  url: "{{ gitUrl }}";
                      }
              }
      }

      stage('Create Packer AMI') {
        steps {
            dir('/var/jenkins_home/workspace/packer_build/Terraform'){
                sh 'terraform init; terraform apply -target=module.MySqlDB -target=module.instance_group -target=module.LoadBalancer -auto-approve'
            }
        }
      }
    }

    post {
      cleanup {
        cleanWs()
      }
    }
}
