pipeline {

  environment {
    // CRED = credentials('{{ jenkinsFile_id }}')
    PASS = credentials('{{ valut_pass_id }}')
  }

  agent {
    label "master"
  }

  stages {
    /*stage("gcloud auth") {
      steps {
        script {
          sh("gcloud auth activate-service-account --key-file=\"${CRED}\"")
        }
      }
    }*/
    stage("get vars") {
      steps {
        script {
          env.NEXUS_IP = sh (
            script: 'gcloud secrets versions access "{{ version_id }}" --secret="{{ nexus_ip_secret }}"',
            returnStdout: true
          ).trim()
        }
      }
    }
    stage("clone code") {
      steps {
        script {
          git credentialsId: "GH_private_key",
          branch: "master",
          url: "{{ gitCIurl }}";
        }
      }
    }
    stage('Create Packer AMI') {
      steps {
        script {
          sh("gcloud secrets versions access latest --secret='gcp-json' > account.json")
        }
        dir('./roles/jenkins_role/files/Ansible/'){
          sh """
          packer build \
          -var \'path=${PASS}\' \
          -var \'acc_key=account.json\' \
          -var \'nexus_url=${NEXUS_IP}\' \
          pet_centos72.json
          """
        }
      }
    }
  }

  post {
    cleanup {
      cleanWs()
    }
  }
}
