pipeline {
  agent {
      label "master"
  }

  stages {
    stage("clone code") {
      steps {
        script {
          git credentialsId: "{{ credentials }}",
          branch: "{{ targetBranch }}",
          url: "{{ gitCIurl }}";
        }
      }
    }
    stage('Create Packer AMI') {
      steps {
        dir('Terraform/Dev') {
          sh("gcloud secrets versions access latest --secret='{{ service_acc_key }}' > account.json")
          sh("terraform init")
          sh("terraform apply -var=\"credentials_file=account.json\" -auto-approve")
        }
      }
    }
  }

  post {
    cleanup {
      cleanWs()
    }
  }
}
