[Unit]
Description=Spring Petclinic App
After=syslog.target
After=network.target
[Service]
User={{ petclinic_user }}
Type=simple
ExecStart=/usr/bin/env bash /home/{{ petclinic_user }}/start_petclinic.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=petclinic
[Install]
WantedBy=multi-user.target
