pipeline {

    environment {
        nexus_ip = "0.0.0.0"
        CRED = credentials('gcp_service_acc_cred')
        PASS = credentials('pass')
    }


    agent {
        label "master"
    }

    stages {
      stage("clone code") {
          steps {
              script {
                  git credentialsId: "GH_private_key",
                    branch: "nginx",
                    url: "git@github.com:Yakushi12/jenkins-automatization-docker.git";
                    }
              }
      }
      stage('1') {
          steps {
              sh "cat ${CRED}"
          }
      }

      stage('Create Packer AMI') {
        steps {
          dir('./roles/jenkins_role/files/Ansible/'){
                sh """
                packer build \
                -var \'path=${PASS}\' \
                -var \'acc_key=${CRED}\' \
                -var \'mysql_pass=petpass\' \
                -var \'mysql_ip=35.194.44.253\' \
                -var \'nexus_url=34.122.203.53\' \
                pet_centos72.json
                """
            }
        }
      }

    }

   /* post {
      cleanup {
        cleanWs()
      }
    }*/
}
